.hero {
  &__section {
    height: 345px;
  }

  &__header {
    position: absolute;
    top: 86px;
    left: 234px;
    width: 212px;
    h1 {
      @include font-size(20px);
    }
  }

  &__title {
    position: absolute;
    top: 147px;
    left: 526px;
  }

  &__facts {
    position: absolute;
    top: 105px;
    right: 237px;
    width: 100px;
    h4 {
      @include font-size(22px);
    }

    &--two {
      top: 204px;
      right: 170px;
    }

    &--three {
      right: 89px;
    }

    &--four {
      top: 204px;
      right: 22px;
    }
  }


}
