.search-form {
  background-color: $brand-color;
  padding: 10px 10px;
  margin: 0px auto 0px;
  width: 930px;
  display: none;

  input, select {
    border: 0;
    padding: 5px 10px;
    height: 30px;
  }

  .search__field {
    width: 398px;
  }

  &__dropdown {
    width: 374px;
    @include vendor(border-radius, 0px);
  }


  &__section {
    height: 77px;
  }

  &.show {
    display: block;
  }

}

.form-toggle {
  margin: 0px auto 0px;
  width: 930px;

  .button {
    background-color: #9c9c9c;
    margin-right: 3px;
    padding: 5px 50px 5px 9px;
    color: $grey;
    margin-bottom: 3px;
    outline: 0;

    &.active
    ,&:hover {
      color: #fff;
      background-color: $brand-color;
      margin-bottom: 0;
      padding-bottom: 8px;
    }
  }

}
