.background {
  &.background__base {
    background-color: $base-ui-color;
    &--gradient {
      background-color: $base-ui-color;
      background: -webkit-linear-gradient(left,$base-ui-color, $base-ui-color-light); /*Safari 5.1-6*/
      background: -o-linear-gradient(right,$base-ui-color, $base-ui-color-light); /*Opera 11.1-12*/
      background: -moz-linear-gradient(right,$base-ui-color, $base-ui-color-light); /*Fx 3.6-15*/
      background: linear-gradient(to right,$base-ui-color, $base-ui-color-light); /*Standard*/
    }

    &--transparent {
      background-color: $base-transparent;
    }
  }

  &.background__base--light {
    background-color: $base-ui-color-light;
  }

  &.background__brand {
    background-color: $brand-color;
  }

  &.background__blue {
    background-color: $blue;
  }

  &.background__grey {
    background-color: $grey;
    &--transparent {
      background-color: $grey-transparent;
    }

    &--light {
      background-color: $grey-light
    }
  }

  &.background__grey-light {
    background-color: $light-grey;
    background: -webkit-linear-gradient(left,rgba(255,0,0,0),$light-grey); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,0,0,0),$light-grey); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,0,0,0),$light-grey); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255,0,0,0), $light-grey); /*Standard*/
  }

  &.background__grey-light--reverse {
    background-color: $light-grey;
  }

  &.background__white {
    background-color: #fff;
  }

  &.background__blue--transparent {
    background-color: $blue-transparent;
  }

  &.background__green {
    background-color: $green;
      &--transparent {
        background-color: $green-transparent;
      }
  }

  &.background__red {
    background-color: $red;
  }

  &__image {
    background-repeat: no-repeat;
    background-position: 0 center;

    &--right {
      background-position: center right;
    }




    &--top {
      background-position: right $half-spacing-unit;
    }

    &--gift {
      background-image: url('../img/backgrounds/charit_gifts.png');
    }

    &--schedule {
      background-image: url('../img/backgrounds/sched_giving.png');
    }

    &--main {
      background-image: url("../img/backgrounds/main_bgimage.png");
    }

    &--grid {
      background-image: url("../img/backgrounds/grid.png");
      background-repeat: repeat;
    }

    &--project {
      background-image: url("../img/backgrounds/project.png");
      background-repeat: no-repeat;
    }

    &--projects {
      background-image: url("../img/backgrounds/bground.png");
      background-position: center top;
      height: 117px;
    }

    &--share {
      background-image: url("../img/backgrounds/share.png");
      background-repeat: no-repeat;

      &--green {
        background-image: url("../img/backgrounds/share_green.svg");
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: 96% 15px;
      }

      &--yellow {
        background-image: url("../img/backgrounds/share_yellow.svg");
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: 96% 15px;

        &--left {
          background-size: 24px;
          background-position: 142px;
        }
      }

      &--kite {
        background-image: url("../img/share/kite.svg");
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: $half-spacing-unit center;
      }

    }

    &--schedule--small {
      background-image: url("../img/backgrounds/schedule-color.png");
      background-repeat: no-repeat;

    }

    &--gift--small {
      background-image: url("../img/backgrounds/gift-color.png");
      background-repeat: no-repeat;

    }

    &--kite {
      background-image: url("../img/backgrounds/logo_kite.png");
      background-repeat: no-repeat;

      &-white {
        background-image: url("../img/icons/kiteWhite.svg");
        background-size: 40px;
      }

      &-cloud {
        background-image: url("../img/icons/kiteCloud.svg");
        background-size: 65px;
      }

    }

    &--bird {
        background-image: url("../img/icons/birdWhite.svg");
        background-size: 40px;
    }

    &--explore {
      background-image: url("../img/backgrounds/exploreCharities.png");
      background-repeat: no-repeat;
    }

    &--footer {
      background-image: url("../img/backgrounds/logo_footer.png");
      background-repeat: no-repeat;
      background-position: right 160px;
    }

    &--header {
      background-image: url("../img/backgrounds/bground_h.png");
      background-repeat: repeat;
      background-position: center;
    }

    &--doc {
      background-image: url("../img/icons/doc.svg");
      background-repeat: no-repeat;
    }


  }


}
