.container {
  width: $container-width;
  margin: 0 auto;
  position: relative;
}

.seperator {

  &:after {
    content: "|";
    margin-left: 5px;
  }

}

.uppercase {
  text-transform: uppercase;
}

.box {
  &-shadow {
    @include vendor(box-shadow, 7px 11px 25px -8px rgba(0, 0, 0, 0.75));
  }
}

.border {
  &-green {
    border-left:$half-spacing-unit*8 solid $green;
    position: relative;

    &:after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 8px;
      border-color: transparent transparent transparent $green;
      content: '' ;
      display: block;
      position: absolute;
      top: 17px;
      left: 0;

    }
  }
}

.clearfix {
  clear: both;
}

.triple-padding-left {
  padding-left: $base-spacing-unit*3;
}