.list {
  &-numeric{
    margin-left: -20px;
    &--item {
      display: block;
      width: 95%;
      padding: 2px 10px;
      font-weight: bold;
      font-size: 20px;
      @extend .font-fredoka;
      position: relative;

      &:after {
        position: absolute;
        right: -16px;
        content: '';
        width: 0;
        height: 0;
        border-top: 16px solid transparent;
        border-left: 16px solid $light-grey;
        border-bottom: 16px solid transparent;
        top: 1px
      }
    }
  }
}