.nav {
  &--capitalise {
    li {
      text-transform: uppercase;
    }
  }

  &--header {
    li {
      a {
        color: white;
        &.active {
          @extend .font-base;
        }
      }
    }
  }

  &--social {
    &-icons {
      a {
        height: $icons-height;
        width: $icons-height;
      }

      > li{
        > a{
          display:inline-block;
        }
      }

      &-valign {
        img {
          vertical-align: bottom;
        }
      }

    }
  }

  &--with{
    &-icon {
      img {
        width: 29px;
        margin-bottom: -8px;
      }
    }
  }
}