input, select, option {
  border: 0;
  padding: 7px $half-spacing-unit;
}

select {
  height: 34px;
  color: grey;
}

::-webkit-input-placeholder {
  color: grey;
}

.upload {
  text-indent: -9999px;
  height: 50px;
  margin-left: 20px;
}
