.font {

  &-base {
    color: $base-ui-color;

    &-light {
      color: $blue-light;
    }
  }

  &-brand {
    color: $brand-color;
  }

  &-white {
    color: $white;
  }

  &-grey {
    color: $grey;
  }

  &-grey-dark {
    color: $grey-dark;
  }

  &-red {
    color: $red;
  }

  &-green {
    color: $green;
    &-dark {
      color: $green-dark
    }
  }

  &-black {
    color: #000;
  }

  &-fredoka {
    font-family: 'Fredoka One', cursive;
  }

  &-calibri {
    font-family: $base-font-family;
    font-weight: normal;
  }

  &-cap {
    text-transform: uppercase;
  }

}

h1, h2, h3, h4, h5, h6 {
  @extend .font-fredoka;
}

p {
  color: $grey-dark;
}

.ultra {
  @include font-size(18px);
}

.link {
  &-block {
    display: block;
  }
}
