/*------------------------------------*\
VARS.SCSS
\*------------------------------------*/
/**
* Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
* keep, simply redefine here. This means that if inuit.css, for example, sets
* your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
* that variable in this file. inuit.css ignores its own variables in favour of
* using your own, so you can completely modify how inuit.css works without ever
* having to alter the framework itself.
*/

$brand-color: #243157;
$base-ui-color: #f1a51c;
$base-spacing-unit: 20px;
$base-font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;



/*------------------------------------*\
$OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
* All of inuit.css’ objects and abstractions are initially turned off by
* default. This means that you start any project with as little as possible,
* and introducing objects and abstractions is as simple as switching the
* following variables to `true`.
*/
$use-grids: true;
$use-nav: true;
$use-beautons: true;
$use-matrix: true;






  /*------------------------------------*\
  $OVERRIDES
  \*------------------------------------*/
/**
* Place any variables that should override inuit.css’ defaults here.
*/
$responsive: false;




/*------------------------------------*\
$CUSTOM
\*------------------------------------*/
/**
* Place any of your own variables that sit on top of inuit.css here.
*/

$container-width: 1055px;
$icons-height: 30px;
$red: #d93b1a;
$green: #55b377;
$green-transparent: rgba(85, 179, 119, 0.8);
$green-dark: #297048;
$blue: #38477F;
$blue-transparent: #515576;
$blue-light: #323b5c;
$grey-transparent: rgba(217, 217, 217, 0.7);
$grey-dark: #4d4d4d;
$grey-light: #ebebeb;
$white: #ffffff;
$grey: #CCCCCC;
$light-grey: rgba(223, 216, 202, 1);
$base-ui-color-light: #f9c870;
$base-transparent: rgba(241, 165, 28, 0.8);
